
a{
    text-decoration: none;
    color: black;
}
@import url(https://fonts.googleapis.com/css?family=Lato);
@mixin border-radius($radius){
    
}
body{
    padding-top: 50px;
    font-family: 'Lato',sans-serif;
    background-color: #fff798;
}
header{
   display: flex;
   width: 100%;
   justify-content: space-between;
   .logo{
       width: 20%;
       position: relative;
       top: -27px;
       left: 5%;
       z-index: 1111;
       background-image: url('../img/logo.png');
       background-size: 75%;
       background-repeat: no-repeat;
       
   }
   height: 50px;
   nav{
       width: 60%;
       ul{
          position: absolute;
          top: 1.1%;
          right: 0;
           width:60%;
           li{
               list-style-type: none;
               display: inline-block;
               width: 100px;
               height: 35px;
               margin-right: 50px;
               text-align: center;
               line-height: 35px;
               background-size: 100%;
               &:first-child{
                   background-image: url('../img/shape1.png');
               }
               &:nth-child(2){
                   background-image: url('../img/shape2.png'); 
               }
                &:nth-child(3){
                   background-image: url('../img/shape3.png'); 
               }
                &:nth-child(4){
                   background-image: url('../img/shape4.png'); 
               }
           }
       }
   }
}
#main{
    #slide1{ 
        background-image: url('../img/slide1.png');
        background-size: 95%;
        background-repeat: no-repeat;
    width: 95%;
    margin: 0 auto;       
    }
     #slide2{ 
        background-image: url('../img/slide2.png');
        background-size: 95%;
        background-repeat: no-repeat;
    width: 95%;
    margin: 0 auto;       
    }
     #slide4{ 
        background-image: url('../img/slide3.png');
        background-size: 95%;
        background-repeat: no-repeat;
    width: 95%;
    margin: 0 auto;       
    }
    div{
        height: 800px;
        width: 100%;
       
        &#slide4{
            .openDialog{
                &:hover{
                    background-color: 	#81e4e6; 
                    font-size: 27px;
                }
                font-size: 18px;
                background-color: #d1f5f8;
                transition: background-color 1s ease-in-out,font-size 1.5s ease-in-out;
                border:none;
                outline: none;
                position: absolute;
                bottom: 10%;
                left: 35%;
                height: 3%;
                width: 30%;
            }
            #regForm{
             display: none;
           div{
               height: auto;
           }
                position: fixed;
                left: 0;
                top: 0;
                
                background: rgba(196,206,255, 0.4);
                width: 100%;
                height: 100%;
                z-index: 1000;
                .reg-form{
                      position: fixed;
            left: 20%;
             top: 15%;
                 width: 60%;
                height: 70%;
                background-color: white;
                 
                .content{
                   &.dialog{
                       border: none;
                       form{
                           .field{
                               width: 40%;
                               margin: 30px auto;
                            label{
                                width: 30%;
                                display: inline-block;
                                 white-space: nowrap;
                                margin: 10px 0;
                            }  
                            input{
                                float: right;
                                width: 100%;
                                &[type="submit"]{
                                    @extend .button;
                                    outline: none;
                                    border: none;
                                    margin: 0 auto;
                                    border-radius: 6%;
                                    position: absolute;
                                    
                                }
                            }
                           }
                       }
                   }
                }
                   header{
                     
                      h1{
                          padding-top: 2%;
                          padding-left: 4%;
                         font-weight: bold;
                      }
                      button{
                          position: absolute;
                          right: 0;
                          top: 0;
                          border: none;
                          outline: none;
                          background-color: inherit;
                          transition: background-color 0.5s,color 0.5s;
                          &:hover{
                              background-color: #a3a3a3;
                              color: white;
                          }
                      }
                      height: 10%;
                      border-bottom: 1px solid #a3a3a3;
                   }
                   
                }
            }
        }
    }
}
.button{
    width: 150px;
    height: 40px;
       &:hover{
                    background-color: 	#81e4e6; 
             }
             
                background-color: #d1f5f8;
                transition: background-color 1s ease-in-out,font-size 1.5s ease-in-out;
    
}